{% extends "templates/base.html" %} {% block content %}
<h1>{%trans%}Contact and feedback{%endtrans%}</h1>

<p style="padding-top: 40px;">
	{%trans%}Please help us improve the site by providing feedback!{%endtrans%} <strong><a
		href="mailto:admin@proofofexistence.com">admin@proofofexistence.com</a></strong>
</p>


<p>
	{%trans%}Having problems with our service? We can help:{%endtrans%} <strong><a
		href="mailto:bugs@proofofexistence.com">bugs@proofofexistence.com</a></strong>
</p>

{% endblock %}
