{% extends "templates/base.html" %} {% block content %}
<div class="hero-unit">
<h3>{%trans%}Contact and feedback{%endtrans%}</h3>
<p>
	{%trans%}Please help us improve the site by providing feedback!{%endtrans%} <strong><a
		href="mailto:admin@proofofexistence.com">admin@proofofexistence.com</a></strong>
</p>


<p>
	{%trans%}Having problems with our service? We can help:{%endtrans%} <strong><a
		href="mailto:bugs@proofofexistence.com">bugs@proofofexistence.com</a></strong>
</p>
</div>

{% endblock %}
