{% extends "templates/base.html" %} {% block content %}

<h3>
	Document information <small id="digest">Loading...</small>
</h3>
<div class="row" id="timestamp">Please wait</div>

<div class="row" style="padding-top: 10px;">
	<div class="span3" id='icon'></div>
	<div class='alert span8' style="height: 120px; display: none;"
		id='blockchain_message'></div>
</div>

<div class='hero-unit' id='certify_message' style="display: none;">
	<h3>Want this document certified by a decentralized proof of
		existence?</h3>
	<p>We can embed the document's digest in the blockchain for you!</p>
	<p>
		You'll need to pay <strong>1 mBTC</strong> to do so, required 
    by our embedding algorithm, and you are also invited to tip 
    us with whatever value you find appropiate. Please pay to the
    following address:
	</p>

  <hr />
    <div class='row-fluid'>
      <div class='span6' id='qr'></div> 
      <div class='span6' id='payment_text'>
        <div>Please send <strong>1mBTC</strong> or more to:</div>
        <div id='payment_address'></div>
	      <div id="wait" class="row">
		      <div class="spinner">
			      <div class="rect1"></div>
			      <div class="rect2"></div>
			      <div class="rect3"></div>
			      <div class="rect4"></div>
			      <div class="rect5"></div>
		      </div>
		      Waiting for payment...
	      </div>
      </div>
    </div>
  <hr />

</div>
<div class='hero-unit' id='confirming_message' style="display: none;">
	<p>
		In case you are curious, we are waiting for a transaction to occur in
		the Bitcoin network containinga cryptographic proof of your document's
    existence. This will embed the document's digest in the
		blockchain permanently.
	</p>
</div>
<div class='hero-unit' id='confirmed_message' style="display: none;">
	<h3>Congratulations!</h3>
	<p>This document's digest was successfully embedded in the Bitcoin
		blockchain. It is now permanently certified and proven to exist since
		the transaction was confirmed.</p>
	<p id="tx"></p>
</div>


{% endblock %}

