<meta charset='utf-8' />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="description" content="Proof of Existence" />
<link rel="shortcut icon" href="/static/img/favicon.ico">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bootstrap-notify.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">

<script type="text/javascript" src="/static/js/jquery.1.8.0.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/crypto.js"></script>
<script type="text/javascript" src="/static/js/sprintf.js"></script>
<script type="text/javascript" src="/static/js/filedrop.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-notify.js"></script>
<script type="text/javascript" src="/static/js/coinwidget.js"></script>
<script type="text/javascript">
var messages = {{client_side_translations}};
</script>
<script type="text/javascript" src="/static/js/translate.js"></script>
<script type="text/javascript"
	src="/static/js/controllers/{{ name }}.js"></script>