{% extends "templates/base.html" %} {% block content %}

<div class="hero-unit">
	<h3>
		Select a document and have it certified in the Bitcoin blockchain <small><a
			href="/about">What?</a></small>
	</h3>

	<div id="wait" class="row">
		<div class="spinner">
			<div class="rect1"></div>
			<div class="rect2"></div>
			<div class="rect3"></div>
			<div class="rect4"></div>
			<div class="rect5"></div>
		</div>
		Loading...
	</div>

	<form id="upload_form" style="display: none;" method="POST"
		enctype="multipart/form-data" action="api/document/upload">
		<fieldset>
			<input id='file' type="file" name="d" />
			<button id="upload_submit" style="display: none;" type="submit"
				class="btn btn-success">
				<i class="icon-file"></i> Upload
			</button>
		</fieldset>

	</form>

	<div id="filedrag" style="display: none;" class="dropbox">
		Click or drag and drop your document here.<br /> Your document will
		NOT be uploaded. The cryptographic proof is calculated client-side.
	</div>

	<div id="explain"></div>
	<div class="progress progress-striped">
		<div class="bar"></div>
	</div>
</div>

<div class="row">
	<div class="span1"></div>
	<div class="span10">
		<h3>Last documents uploaded:</h3>
		<table class="table" id="latest"></table>
	</div>
	

</div>
<div class="row">
	<div class="span1"></div>	
	<div class="span10">
		<h3>Last documents confirmed in the blockchain:</h3>
		<table class="table" id="latest_confirmed"></table>
	</div>
</div>

{% endblock %}
